<mat-toolbar color="primary" *ngIf="authService.isAuthenticated">
 
  <div fxShow.gt-xs>
      <button mat-icon-button (click)="onToggleSidenav()">
          <mat-icon>menu</mat-icon>
      </button>
  </div>
  <h1 class="component-title">
    <a class="title-link">{{title}}</a>
  </h1>

    <!--inicio direito-->
    <div fxFlex fxLayoutAlign="flex-end center">
              <mat-card-content position="end">
                <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">
                  Perfil
                </button>
              <mat-menu #menu="matMenu">
                <button  mat-menu-item>
                  <mat-icon>settings</mat-icon>
                  <span>Configuracao</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>person</mat-icon>
                  <span>Minha Conta</span>
                </button>
  
                <button mat-menu-item (click)="logout()" class="nav-link">
                <mat-icon >exit_to_app</mat-icon>
                  Sair do Sistema    
                </button>
              </mat-menu>
            </mat-card-content>    
  
          </div>
</mat-toolbar>

  