<div class="login-wrapper">
    <div class= "card">
        <div class= "card-body">        
            <form class="form-signin" (ngSubmit)="onSubmit(signInForm)" #signInForm="ngForm">                
                <img class="mb-4" src="assets/images/no-avatar.png" alt="" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">Acesso ao Portal Virtus</h1>

                <label for="inputEmail" class="sr-only">Endereco de email</label>
                <input type="email" id="inputEmail" name="email" class="form-control"
                placeholder="Email address" required autofocus ngModel>

                <label for="inputPassword" class="sr-only">Senha</label>
                <input type="password" id="inputPassword" name="password" class="form-control"
                placeholder="Password" required ngModel>
                <div class="checkbox mb-3">
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                <div class="alert alert-danger" role="alert" *ngIf="isFormInvalid">
                    Por favor preencher os campos
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="areCredentialsInvalid">
                    Usuario/Password nao validos
                </div>
            </form>
        </div>
    </div>
</div>




    <a href="/signUpUser" class="w3-btn w3-teal"> Registrar-se </a>
   <!--         <span class="w3-right w3-padding w3-hide-small"> Esqueceu a <a href="/recoverPwd">senha?</a></span> -->

 
  
<!--        <p>
        <form class="w3-container" action="/login" method="post">
            <div class="w3-section">
                <label><b> Login </b></label>
               <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Entre Usuario"
                       name="usrname" required>
            <label><b> Password </b></label>
                <input class="w3-input w3-border" type="password" placeholder="Entre a Senha" name="psw" required>
                <label id="errMsg" style="color: red; display:none"></label>
                <label id="msg" style="color: blue; display:none"></label>
                <button class="w3-btn-block w3-teal w3-section w3-padding" type="submit">Login</button> 
            </div>
                <div><br>
                <button 
                      class="btn btn-outline-warning" 
                      (click)="login(Role.Supervisor)">Supervisor
                </button>
  
                <button 
                      class="btn btn-outline-danger" 
                      (click)="login(Role.Admin)">Administrador
                </button>
                
                <button 
                    class="btn btn-outline-warning" 
                    (click)="login(Role.Chefe)">Chefe
               </button></div>  
        </form>
    </div>
    </div>
  </div></div>
    
    -->