<div class = "col-md-6 offset-md-3">
    <h3> Atualizar TipoNota </h3>
    <form (ngSubmit) = "onSubmit()">

        <div class = "form-group">
            <input class="form-control" type="text" id="id" readonly
                [(ngModel)] = "tipoNota.idTipoNota" name ="id">
        </div>
        
        <div class = "form-group">
            <label> Nome do TipoNota: </label>
            <input type="text"  class="form-control"  id="nome"
                [(ngModel)] = "tipoNota.nome" name ="nome">
        </div>
        <div class = "form-group">
            <label> Descricao: </label>
            <input type="text"  class="form-control"  id="descricao"
                [(ngModel)]= "tipoNota.descricao" name ="descricao">
        </div>
        <div class = "form-group">
            <label> Campo de Referencia: </label>
            <input type="text"  class="form-control"  id="referencia"
                [(ngModel)]= "tipoNota.referencia" name ="referencia">
        </div>
        <div class = "form-group">
            <label> Id do Autor: </label>
            <input type="text"  class="form-control"  id="idAutor"
                [(ngModel)]= "tipoNota.idAutor" name ="idAutor">
        </div>
    
        <div class = "form-group">
            <label> Criado em: </label>
            <input type="text"  class="form-control"  id="criadoEm"
                [(ngModel)]= "tipoNota.criadoEm" name ="criadoEm">
        </div>
    
        <div class = "form-group">
            <label> Id Status: </label>
            <input type="text"  class="form-control"  id="idStatus"
                [(ngModel)]= "tipoNota.idStatus" name ="idStatus">
        </div>
        <button routerLink="tipoNota-list" class = "btn btn-success" type="submit">Enviar Update</button>
    </form>
    </div>
    
