<h2>Lista de Tipo de Notas</h2>
<table class="table table-striped">
  <thead>
    
    <th>Id</th>
    <th>Nome</th>
    <th>Descricao</th>
    <th>Referencia</th>
    <th>Letra</th>
    <th>Cor da letra</th>
    <th>Id Autor</th>
    <th>Criado Em</th>
    <th>Id Versao Origem</th>
    <th>Status</th>
    <th>Acoes</th>

  </thead>
  <tbody>
    <tr *ngFor = "let tipoNota of tipoNotas"> 
    	
    	<td> {{tipoNota.idTipoNota}}</td>
    	<td> {{tipoNota.nome}}</td>
    	<td> {{tipoNota.descricao}}</td>
    	<td> {{tipoNota.referencia}}</td> 
    	<td> {{tipoNota.letra}}</td> 
    	<td> {{tipoNota.corLetra}}</td> 
    	<td> {{tipoNota.idAutor}}</td>
    	<td> {{tipoNota.criadoEm}}</td>
    	<td> {{tipoNota.idVersaoOrigem}}</td>
    	<td> {{tipoNota.idStatus}}</td>
      <td>
        <button mat-icon-button [matMenuTriggerFor] = "commands">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #commands = "matMenu">
            <button mat-menu-item (click) = "updateTipoNota(tipoNota.idTipoNota)" >Atualizar
              <mat-icon>update</mat-icon>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click) ="deleteTipoNota(tipoNota.idTipoNota)">Apagar
              <mat-icon>delete</mat-icon>
            </button></mat-menu>
      </td>

    	<!-- <button mat-menu-item (click) = "openModal(tipoNota.id)" >
        <button (click) = "updateTipoNota(tipoNota.id)" class="btn btn-info">Atualizar</button> "updateTipoNota(tipoNota.idTipoNota)"
    		<button (click) = "deleteUsuario(usuario.id)" class="btn btn-danger" style= "margin-left:10px">Deletar</button>
    		<button (click) = "usuarioDetails(usuario.id)" class="btn btn-warning" style= "margin-left:10px">Visualizar</button>
    	</td> -->    		
    </tr>
  </tbody>
</table>
